/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: rgb(249, 249, 249);
    font-size: 1em;
    line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea 
  /**  resize: vertical;   **/
  

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*************    General Styles     ***************/

/********   font-family: 'Permanent Marker', cursive; 
            font-family: 'Montserrat', sans-serif;

/********* headings *********
h1 is 30px, Permanent marker font
h2 has yellow highlight; 30px size
<p> text is uppercase with some words <strong> and title case; 20px size ****/

body {
    background: #E8E8E8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    min-width: 360px;
    margin: 0px auto;
    font-family: 'Montsearrat', sans-serif;
    font-size: 16px;
    font-weight:lighter;
}

/************  MOBILE STYLES   ************/
#header {
    /**  background-color:rgb(3, 3, 3);
    background-size: cover; **/
    width: 100%;
    padding: 10px;
}

#vision-board {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap:wrap;
    background-image: url('../img/attune-snip.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color:purple;
}

img {
    width: 100%;
    height: auto;
    /**  object-fit: contain;  **/
}

.block {
    padding: 10px;
    outline: 1px dotted red;
    width: 100%;
    height: 350px;
    margin: 20px;
}

.left-block p {
  margin-block-start: 230px;
}

.middle-block p {
  margin-block-start: 230px;
}

.middle-block.row2 p{
  color: #000;
  width: 55%;
}

.middle-block.row3 p{
margin-block-start: 1em;
}

.right-block.row2 p{
  margin-block-start: 220px;
}

.right-block.row3 p{
  color: #000;
}

.marker {
    font-family: 'Permanent Marker', cursive; 
}

.title {
    color: #FFFFFF;
    font-size: 2em;
}

.bold-sentence {
    font-size: 1.5em;
    text-transform: none;
}

.highlight {
    font-family: 'Permanent Marker', cursive; 
    color: #000;
    background-color: #FFF44F;
    padding: 5px;
    font-weight: bold;
}

q {
font-style: italic;
}

footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align:center;
}

footer p {
  margin: 20px;
  font-size:0.89em;
}

footer small {
  font-size: 0.6875em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }
 
 /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */
 
 .sr-only {
   border: 0;
   clip: rect(0, 0, 0, 0);
   height: 1px;
   margin: -1px;
   overflow: hidden;
   padding: 0;
   position: absolute;
   white-space: nowrap;
   width: 1px;
   /* 1 */
 }
 
 /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */
 
 .sr-only.focusable:active,
 .sr-only.focusable:focus {
   clip: auto;
   height: auto;
   margin: 0;
   overflow: visible;
   position: static;
   white-space: inherit;
   width: auto;
 }
 
 /*
  * Hide visually and from screen readers, but maintain layout
  */
 
 .invisible {
   visibility: hidden;
 }
 
 /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */
 
 .clearfix::before,
 .clearfix::after {
   content: " ";
   display: table;
 }
 
 .clearfix::after {
   clear: both;
 }
 /* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
    ========================================================================== */
 
@media only screen and (min-width: 768px) {
   /* Tablet Styles here */

   body {
       background: #6C6CE0;
       /**  min-width: 768px;  **/
   }

   #header {
     text-align:center;
   }

   #vision-board {
     justify-content: space-around;
   }
   .block {
        width: 30%;
        margin: 2px;
    }

    .left-block.row2.row3 p {
      margin-block-start: 200px;
    }

   .middle-block p {
     width: 100%;
     text-align: center;
   }

   .middle-block.row1 p {
     margin-block-start: 200px;
   }

   .right-block p {
       text-align: right;
   }

   .right-block.row2 p {
    margin-block-start: 200px;
  }
}
   /*********** END OF TABLET STYLES  *********/

@media only screen and (min-width: 1200px) {
    /* Desktop Styles here */
 .block {
   align-items: center;
   height: 400px;
 }
}
       /*********** END OF DESKTOP STYLES  *********/

 /* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      /* Black prints faster */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }